next==14.2.26
react==18.2.0
react-dom==18.2.0
typescript==5.3.3
@emailjs/browser==4.4.1
@heroicons/react==2.1.1
@radix-ui/react-slot==1.1.2
@vercel/analytics==1.5.0
class-variance-authority==0.7.1
clsx==2.1.1
framer-motion==11.0.3
gsap==3.12.5
lucide-react==0.487.0
next-themes==0.2.1
nodemailer==6.10.0
react-tsparticles==2.12.2
tailwind-merge==3.1.0
tsparticles==3.8.1
tailwindcss==3.4.1
autoprefixer==10.4.17
postcss==8.4.33
eslint==8.56.0
eslint-config-next==14.2.26 